@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Itim&family=Luckiest+Guy&display=swap');


body{
background-color: rgb(209, 187, 214);
}

.fonte1{
    color: rgb(92, 0, 128);
    font-size: 50px;
    font-family: "Luckiest Guy", cursive; 
}

.fonte2{
    color: rgb(92, 0, 128);
    font-size: 35px;
    font-family: "Itim", cursive; 
}

.fonte3{
    color: rgb(92, 0, 128);
    font-size: 20px;
    font-family:"Fjalla One", sans-serif;
}













.box {
	width: 150px;
	display: inline-block;
    margin-left: 200px;
}